{% extends 'layout.html' %}

{% block content %}

    <div class="timeline">
        {% if user %}
        <div>
            <form action="/post" id="twit-form" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <textarea name="content" id="twit" cols="30" rows="10"></textarea>
                </div>
                <div class="img-preview">
                    <img src="" style="display: none;" width="250" id="img-preview" alt="preview">
                    <input type="hidden" id="img-url" name="url">
                </div>
                <div>
                    <label for="img" id="img-label">Image upload</label>
                    <input type="file" id="img" accept="image/*">
                    <button id="twit-btn" type="submit" class="btn">Twits</button>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="twits">
            <form action="/hashtag" id="hashtag-form">
                <input type="text" name="hashtag" placeholder="Tag search">
                <button class="btn">Search</button>
            </form>
            {% for twit in twits %}
                <div class="twit">
                    <input type="hidden" class="twit-user-id" value="{{twit.User.id}}">
                    <input type="hidden" class="twit-id" value="{{twit.id}}">
                    <div class="twit-author">{{twit.User.nick}}</div>
                    {% if not followerIdList.includes(twit.User.id) and twit.User.id!==user.id %}
                        <button class="twit-follow">Follow</button>
                    {% endif %}
                    <div class="twit-content">{{twit.content}}</div>
                    {% if twit.img %}
                        <div class="twit-img"><img src="{{twit.img}}" alt="Thumb nail"></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        if(document.getElementById('img')) {
            document.getElementById('img').addEventListener('change', function(e) {
                const formData = new FormData();
                console.log(this, this.files);
                formData.append('img', this.files[0]);
                axios.post('/post/img', formData)
                    .then((res) => {
                        document.getElementById('img-url').value = res.data.url;
                        document.getElementById('img-preview').src = res.data.url;
                        document.getElementById('img-preview').style.display = 'inline';
                    })  
                    .catch((err) => {
                        console.log(err);
                    });
            });
        }
        document.querySelectorAll('.twit-follow').forEach(function(tag) {
            tag.addEventListener('click', function() {
                const myId = document.querySelector('#my-id');
                if(myId) {
                    const userId = tag.parentNode.querySelector('.twit-user-id').value;
                    if(userId !== myId.value) {
                        if(confirm('Follow?')) {
                            axios.post(`/user/${userId}/follow`)
                                .then(() => {
                                    location.reload();
                                })
                                .catch((err)=> {
                                    console.log(err);
                                });
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}